* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1729;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .lua {
  width: 60px;
  margin-left: 20px;
}


.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 20px;
}


.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.nav-menu ul li {
  margin: 10px;
  text-transform: uppercase;
}

.nav-menu ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s all;
  padding: 10px;
}

.nav-menu ul li a:hover {
  color: red;
}

.nav-menu ul li a.btn {
  background-color: red;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-menu ul li a.btn:hover {
  color: white;
  background-color: brown;
}


main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-top: 100px;
  padding: 1rem;
  .btn { 
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 5px;
    border-radius: 5px;
  }
}

.Tabela {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.Tabela .Coluna img {
  width: 70%;
  margin-top: 40px;
}

.Tabela .btn {
  background-color: rgb(255, 0, 0);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.Tabela p,
.Tabela h1 {
  margin: 20px;
}

.Tabela h1 {
  font-size: 42px;
}

#sobre h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}

#sobre .image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(92, 92, 239);
  margin-bottom: 20px;
}

#sobre p {
  margin: 15px;
  text-align: justify;
}

#depoimentos h2 {
  text-transform: uppercase;
  margin: 30px;
  text-align: center;
}

#depoimentos .grid-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#depoimentos .col {
  box-shadow: 0px 0px 15px rgb(92, 92, 239);
  margin: 10px;
  text-align: center;
  border: 1px solid rgb(92, 92, 239);
  border-radius: 10px;
  padding: 20px;
}

#depoimentos img {
  max-width: 100px;
  height: auto;
}

#depoimentos p {
  color: #ccc;
  margin: 15px;
  font-size: larger;
}

#contato h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}

#contato p {
  margin: 10px 0;
  color: #ccc;
}

#contato a {
  color: #FFF;
}

#contato iframe {
  box-shadow: 0 0 10px #FFF;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
}

iframe.image {
  box-shadow: 0 0 10px #FFF;
  border-radius: 10px;
  margin: 30px 0;
}

section {
  padding: 50px 20px;
}

footer {
  background-color: black;
  padding: 20px;
  text-align: center;
}

footer img {
  max-width: 80px;
  margin: 10px;
}

footer p {
  margin-top: 10px;
  color: white;
}

/* Mobile */

@media (min-width: 768px) {
  .Tabela {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
  }

  #depoimentos .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .Tabela .Coluna img {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    padding-left: 200px;
    
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 97px;
    margin-top: 10px;
    width: 100%;
    background-position: right;
  }

  .nav-menu ul.active {
    display: flex;
  }

  .nav-menu ul li {
    width: 100%;
  }

  .nav-menu ul li a {
    width: 100%;
    text-align: center;
    display: block;
  }

  .Tabela h1 {
    font-size: 28px;
  }

  footer img {
    max-width: 50px;
  }
}

html {
  scroll-behavior: smooth;
}
